body {
    max-width: 1920px;
    min-width: 320px;
}

.navbar-fixed-top {
    max-width: 1920px !important;
}

@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding-top: 0px;
}

.carousel-caption > h3 {
    margin: 0px;
}

.carousel-inner > .item > img {
    width:100%;
    height:208px;
}

/*#############################optimization img_1###################################*/

@media(min-width: 321px) and (max-width: 480px) {
  .fill.img_1 {
    background-size:230px 190px!important;
    background-color:AntiqueWhite; 
    background-position:top!important; 
    background-repeat:no-repeat;
  }
}

@media(min-width: 481px) and (max-width: 768px) {
  .fill.img_1 {
    background-size:200px 100px !important; 
    background-color:AntiqueWhite; 
    background-position:top!important; 
    background-repeat:no-repeat;
  }
}

@media(min-width: 769px) and (max-width: 992px) {
  .fill.img_1 {
    background-size:471px 169px !important;
    background-color:AntiqueWhite; 
    background-position:top!important; 
    background-repeat:no-repeat;
  }
}

@media(min-width: 993px) and (max-width: 1200px) {
  .fill.img_1 {
    background-size:370px 235px !important;
    background-color:AntiqueWhite; 
    background-position:top!important; 
    background-repeat:no-repeat;
  }
}

@media(min-width: 1201px) and (max-width: 1920px) {
  .fill.img_1 {
    background-size:620px 210px !important;
    background-color:AntiqueWhite; 
    background-position:top!important; 
    background-repeat:no-repeat;
  }
}


/*#############################optimization img_2###################################*/


@media(min-width: 321px) and (max-width: 480px) {
  .fill.img_2 {
    background-size:230px 170px !important;
    background-color:AntiqueWhite; 
    background-position:top!important; 
    background-repeat:no-repeat;
  }
}

@media(min-width: 481px) and (max-width: 768px) {
  .fill.img_2 {
    background-size:156px 76px !important;
    background-color:AntiqueWhite; 
    background-position:top!important; 
    background-repeat:no-repeat;
  }
}

@media(min-width: 769px) and (max-width: 992px) {
  .fill.img_2{
    background-size:454px 215px !important;
    background-color:AntiqueWhite; 
    background-position:top!important; 
    background-repeat:no-repeat;
  }
}

@media(min-width: 993px) and (max-width: 1200px) {
  .fill.img_2 {
    background-size:235px 185px !important;
    background-color:AntiqueWhite; 
    background-position:top!important; 
    background-repeat:no-repeat;
  }
}

@media(min-width: 1201px) and (max-width: 1920px) {
  .fill.img_2 {
    background-size:525px 200px !important;
    background-color:AntiqueWhite; 
    background-position:top!important; 
    background-repeat:no-repeat;
  }
}

/*#############################optimization img_3###################################*/

@media(min-width: 321px) and (max-width: 480px) {
  .fill.img_3 {
    background-size:230px 170px !important;
    background-color:AntiqueWhite; 
    background-position:top!important; 
    background-repeat:no-repeat;
  }
}

@media(min-width: 481px) and (max-width: 768px) {
  .fill.img_3 {
    background-size:220px 76px !important;
    background-color:AntiqueWhite; 
    background-position:top!important; 
    background-repeat:no-repeat;
  }
}

@media(min-width: 769px) and (max-width: 992px) {
  .fill.img_3 {
    background-size:454px 215px !important;
    background-color:AntiqueWhite; 
    background-position:top!important; 
    background-repeat:no-repeat;
  }
}

@media(min-width: 993px) and (max-width: 1200px) {
  .fill.img_3 {
    background-size:235px 185px !important;
    background-color:AntiqueWhite; 
    background-position:top!important; 
    background-repeat:no-repeat;
  }
}

@media(min-width: 1201px) and (max-width: 1920px) {
  .fill.img_3 {
    background-size:550px 200px !important;
    background-color:AntiqueWhite; 
    background-position:top!important; 
    background-repeat:no-repeat;
  }
}

/*#############################optimization img_4###################################*/

@media(min-width: 321px) and (max-width: 480px) {
  .fill.img_4 {
    background-size:302px 210px !important;
    background-color:AntiqueWhite; 
    background-position:top!important; 
    background-repeat:no-repeat;
  }
}

@media(min-width: 481px) and (max-width: 768px) {
  .fill.img_4 {
    background-size:256px 108px !important;
    background-color:AntiqueWhite; 
    background-position:top!important; 
    background-repeat:no-repeat;
  }
}

@media(min-width: 769px) and (max-width: 992px) {
  .fill.img_4 {
    background-size:454px 215px !important;
    background-color:AntiqueWhite; 
    background-position:top!important; 
    background-repeat:no-repeat;
  }
}

@media(min-width: 993px) and (max-width: 1200px) {
  .fill.img_4 {
    background-size:235px 185px !important;
    background-color:AntiqueWhite; 
    background-position:top!important; 
    background-repeat:no-repeat;
  }
}

@media(min-width: 1201px) and (max-width: 1920px) {
  .fill.img_4 {
    background-size:545px 225px !important;
    background-color:AntiqueWhite; 
    background-position:top!important; 
    background-repeat:no-repeat;
  }
}
