<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
<li><%= link_to 'Contact', page_path('contact') %></li>
<li><%= link_to 'Docs & Demos', 'http://doc.mashweb.club' %></li>
<li><%= link_to 'Blog', 'http://blog.mashweb.club' %></li>
